@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --house-color: #f3f3f3;
    font-size: 40px;
    --card-unit: 280px;
    --card-width: calc(var(--card-unit) * 2);
    --card-height: calc(var(--card-unit) * 3);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Bona Nova', serif;
}

.page-wrapper {
    display: flex;
}

img {
    max-width: 100%;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 80px);
    font-family: 'Bona Nova', serif;
    width: 100%;
    padding: 70px 55px 0;
}

.has-subnav main {
    padding-left: 355px;
}

.card {
    background-color: var(--house-color);
    max-width: var(--card-width);
    width: 100%;
    /* max-height: var(--card-height); */
    height: 100%;
    position: relative;
    border-radius: 20px;
    box-shadow: -5px 8px 22px -10px #00000066;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    /* border: 3px solid #000000; */
}

.arms {
    position: absolute;
    left: 50%;
    top: 0;
    max-width: 25%;
    transform: translate(-50%, -50%);
}

.name-card {
    background-color: #ffffff;
    border-top: 3px solid #000000;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 25%;
    text-align: center;
    padding: 50px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.name {
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    padding: 0 20px;
    width: var(--card-width);
    max-width: 100%;
    margin-bottom: 15px;
    line-height: 85%;
}

.name:hover {
    color: #000000b7;
}

.surname {
    position: relative;
}

.nee {
    font-size: 0.5rem;
    display: block;
    line-height: 0;
    margin-bottom: 10px;
    color: #0000008a;
    font-weight: normal;
    font-style: italic;
    position: absolute;
    bottom: -15px;
    right: 0;
}

.title {
    font-size: 1rem;
    font-style: italic;
    line-height: 90%;
}

.npc-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    overflow-y: scroll;
}

.npc-menu.open {
    display: flex;
}

.option {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 5px 20px;
}

.option:hover {
    background-color: #e2e2e2;
}

.info-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000041;
    font-style: italic;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 100%;
    color: #ffffff67;
    cursor: pointer;
    z-index: 10;
    line-height: 0;
}

.info-button:hover {
    background-color: #000000;
    color: #ffffff;
}

.info-card {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 50px 25px 55%;
    overflow-y: scroll;
}

.info-card.open {
    display: block;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0 20px;
}

.image-container img {
    border: 3px solid #000000;
    border-radius: 20px;
    box-shadow: -7px 11px 22px -15px #00000066;
}

.map {
    max-height: 800px;
    margin-top: 20px;
    box-shadow: -5px 8px 22px -10px #00000066;
    border: 3px solid #ffffff;
}

hr {
    height: 5px;
    border: none;
    background-color: #000;
    width: 100%;
}

.link-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
}

.main-nav {
    font-size: initial;
    position: fixed;
    top: 0;
    padding: 15px;
    width: 100%;
    background-color: #9d6c48;
    gap: 10px;
    z-index: 10;
}

.main-nav button {
    border: none;
    outline: none;
    border-radius: 100px;
    padding: 5px 15px;
    cursor: pointer;
    border: none;
    outline: none;
    background: #ffffff;
    border-radius: 100px;
    padding: 5px 15px;
    cursor: pointer;
    font-family: 'Bona Nova', serif;
    font-weight: bold;
}

.main-nav button:hover {
    background-color: #ffffffb4;
}

.subnav {
    position: fixed;
    flex-direction: column;
    padding: 70px 20px;
    width: 100%;
    max-width: 300px;
    box-shadow: 3px 0px 14px -10px #000;
    gap: 20px;
    height: 100vh;
    background-color: #ffffff;
    z-index: 9;
}

.subnav a {
    font-size: 32px;
    color: #000;
    text-decoration: none;
    line-height: 28px;
    border-bottom: 2px solid #000;
}

.subnav a:hover {
    border-bottom-style: dashed;
}

.subnav a.active {
    border-bottom-style: dashed;
    font-style: italic;
    font-weight: bold;
}

.white-text-border {
    text-shadow: 3px -3px white, 3px 3px white, -3px -3px white, -3px 3px white, -3px 0 white, 3px 0 white, 0 3px white, 0 -3px white;
}

.category-page h1,
.category-description {
    text-align: center;
}

.category-characters {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.list-button {
    text-align: center;
    display: block;
    position: relative;
    color: #000;
    text-decoration: none;
    padding: 15px;
    /* border: 3px solid #000; */
    box-shadow: 4px 4px 20px -6px #00000066;
    border-radius: 15px;
    margin-top: 20px;
}

.list-button:hover {
    background-color: var(--house-color);
}

.list-button .arms {
    width: 45px;
}

.home-page .list-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.home-page .arms {
    position: static;
    transform: none;
}

@media screen and (max-width: 970px) {
    :root {
        font-size: 32px;
    }

    .has-subnav main {
        padding: 140px 30px;
    }

    .subnav {
        flex-direction: row;
        max-width: none;
        white-space: nowrap;
        height: auto;
        padding: 70px 20px 15px;
        overflow-x: scroll;
    }

    .list-button.has-arms {
        padding-top: 20px;
        display: flex;
        padding: 5px 10px 5px 5px;
        align-items: center;
        justify-content: center;
    }

    .list-button .arms {
        position: static;
        transform: none;
    }
}

@media screen and (max-width: 515px) {
    :root {
        font-size: 25px;
        --card-unit: 200px
    }

    .card {
        border-radius: 10px;
    }

    .category-characters {
        gap: 10px;
    }
    
    .list-button {
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 24px;
    }

    .list-button.has-arms {
        padding: 15px 10px 15px;
    }
}