@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --house-color: #ffffff;
    font-size: 40px;
    --card-unit: 300px;
    --card-width: calc(var(--card-unit) * 2);
    --card-height: calc(var(--card-unit) * 3);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Bona Nova', serif;
}

.card {
    background-color: var(--house-color);
    max-width: var(--card-width);
    width: 100%;
    max-height: var(--card-height);
    height: 100%;
    position: relative;
    border-radius: 20px;
    box-shadow: -7px 11px 22px -15px #00000066;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border: 3px solid #000000;
}

.arms {
    position: absolute;
    left: 50%;
    top: 0;
    max-width: 25%;
    transform: translate(-50%, -50%);
}

.name-card {
    background-color: #ffffff;
    border-top: 3px solid #000000;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 25%;
    text-align: center;
    padding: 50px 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.name {
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    padding: 0 20px;
    width: var(--card-width);
    margin-bottom: 15px;
}

.name:hover {
    color: #000000b7;
}

.surname {
    position: relative;
}

.nee {
    font-size: 0.5rem;
    display: block;
    line-height: 0;
    margin-bottom: 10px;
    color: #0000008a;
    font-weight: normal;
    font-style: italic;
    position: absolute;
    bottom: -15px;
    right: 0;
}

.title {
    font-size: 1rem;
    font-style: italic;
}

.npc-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top: 25px;
    overflow-y: scroll;
}

.npc-menu.open {
    display: flex;
}

.option {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 5px 20px;
}

.option:hover {
    background-color: #e2e2e2;
}

.info-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000041;
    font-style: italic;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 100%;
    color: #ffffff67;
    cursor: pointer;
    z-index: 10;
    line-height: 0;
}

.info-button:hover {
    background-color: #000000;
    color: #ffffff;
}

.info-card {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 25px;
}

.info-card.open {
    display: block;
}

@media screen and (max-width: 515px) {
    :root {
        font-size: 30px;
        --card-unit: 200px
    }

    .card {
        border-radius: 10px;
    }
}